In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [7]:
 
data=pd.read_csv("Loan.csv")
data.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-01-01,45,39948,617,Employed,Master,22,13152,48,Married,...,3329.000000,0.724972,11,126928,0.199652,0.227590,419.805992,0.181077,0,49.0
1,2018-01-02,38,39709,628,Employed,Associate,15,26045,48,Single,...,3309.083333,0.935132,3,43609,0.207045,0.201077,794.054238,0.389852,0,52.0
2,2018-01-03,47,40724,570,Employed,Bachelor,26,17627,36,Married,...,3393.666667,0.872241,6,5205,0.217627,0.212548,666.406688,0.462157,0,52.0
3,2018-01-04,58,69084,545,Employed,High School,34,37898,96,Single,...,5757.000000,0.896155,5,99452,0.300398,0.300911,1047.506980,0.313098,0,54.0
4,2018-01-05,37,103264,594,Employed,Associate,17,9184,36,Married,...,8605.333333,0.941369,5,227019,0.197184,0.175990,330.179140,0.070210,1,36.0

In [8]:
data.columns

Index(['ApplicationDate', 'Age', 'AnnualIncome', 'CreditScore',
       'EmploymentStatus', 'EducationLevel', 'Experience', 'LoanAmount',
       'LoanDuration', 'MaritalStatus', 'NumberOfDependents',
       'HomeOwnershipStatus', 'MonthlyDebtPayments',
       'CreditCardUtilizationRate', 'NumberOfOpenCreditLines',
       'NumberOfCreditInquiries', 'DebtToIncomeRatio', 'BankruptcyHistory',
       'LoanPurpose', 'PreviousLoanDefaults', 'PaymentHistory',
       'LengthOfCreditHistory', 'SavingsAccountBalance',
       'CheckingAccountBalance', 'TotalAssets', 'TotalLiabilities',
       'MonthlyIncome', 'UtilityBillsPaymentHistory', 'JobTenure', 'NetWorth',
       'BaseInterestRate', 'InterestRate', 'MonthlyLoanPayment',
       'TotalDebtToIncomeRatio', 'LoanApproved', 'RiskScore'],
      dtype='object')

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [10]:
# YalnÄ±zca kilit Ã¶zellikleri seÃ§mek (RiskScore hariÃ§)
features = ['CreditScore', 'DebtToIncomeRatio', 'MonthlyDebtPayments', 'MonthlyIncome', 
            'EmploymentStatus', 'LoanAmount', 'LoanDuration', 'PreviousLoanDefaults', 
            'PaymentHistory']

# X_train'den yalnÄ±zca bu Ã¶zellikleri seÃ§
X  = data[features]

# RiskScore'u label olarak ayarla
y = data['RiskScore']

In [11]:
X

,CreditScore,DebtToIncomeRatio,MonthlyDebtPayments,MonthlyIncome,EmploymentStatus,LoanAmount,LoanDuration,PreviousLoanDefaults,PaymentHistory
0,617,0.358336,183,3329.000000,Employed,13152,48,0,29
1,628,0.330274,496,3309.083333,Employed,26045,48,0,21
2,570,0.244729,902,3393.666667,Employed,17627,36,0,20
3,545,0.436244,755,5757.000000,Employed,37898,96,0,27
4,594,0.078884,274,8605.333333,Employed,9184,36,0,26
...,...,...,...,...,...,...,...,...,...
19995,587,0.468077,673,2515.000000,Employed,24521,36,0,21
19996,567,0.317372,414,4103.833333,Employed,25818,36,0,30
19997,645,0.023014,512,4079.833333,Employed,37033,72,0,28
19998,560,0.534517,986,3418.750000,Employed,14760,72,0,17
19999,574,0.553434,272,4435.583333,Employed,32055,48,0,36

In [13]:
X["PreviousLoanDefaults"].value_counts()

0    17999
1     2001
Name: PreviousLoanDefaults, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

# LabelEncoder'Ä± baÅŸlat
label_encoder = LabelEncoder()

# EmploymentStatus sÃ¼tununu encode et
X['EmploymentStatus'] = label_encoder.fit_transform(X['EmploymentStatus'])

# SonuÃ§larÄ± kontrol et
print(X.head())

   CreditScore  DebtToIncomeRatio  MonthlyDebtPayments  MonthlyIncome  \
0          617           0.358336                  183    3329.000000
1          628           0.330274                  496    3309.083333
2          570           0.244729                  902    3393.666667
3          545           0.436244                  755    5757.000000
4          594           0.078884                  274    8605.333333

   EmploymentStatus  LoanAmount  LoanDuration  PreviousLoanDefaults  \
0                 0       13152            48                     0
1                 0       26045            48                     0
2                 0       17627            36                     0
3                 0       37898            96                     0
4                 0        9184            36                     0

   PaymentHistory
0              29
1              21
2              20
3              27
4              26

C:\Users\ninja\AppData\Local\Temp\ipykernel_26672\3172907378.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['EmploymentStatus'] = label_encoder.fit_transform(X['EmploymentStatus'])

In [15]:
X

,CreditScore,DebtToIncomeRatio,MonthlyDebtPayments,MonthlyIncome,EmploymentStatus,LoanAmount,LoanDuration,PreviousLoanDefaults,PaymentHistory
0,617,0.358336,183,3329.000000,0,13152,48,0,29
1,628,0.330274,496,3309.083333,0,26045,48,0,21
2,570,0.244729,902,3393.666667,0,17627,36,0,20
3,545,0.436244,755,5757.000000,0,37898,96,0,27
4,594,0.078884,274,8605.333333,0,9184,36,0,26
...,...,...,...,...,...,...,...,...,...
19995,587,0.468077,673,2515.000000,0,24521,36,0,21
19996,567,0.317372,414,4103.833333,0,25818,36,0,30
19997,645,0.023014,512,4079.833333,0,37033,72,0,28
19998,560,0.534517,986,3418.750000,0,14760,72,0,17
19999,574,0.553434,272,4435.583333,0,32055,48,0,36

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=32)

In [17]:

X_train

,CreditScore,DebtToIncomeRatio,MonthlyDebtPayments,MonthlyIncome,EmploymentStatus,LoanAmount,LoanDuration,PreviousLoanDefaults,PaymentHistory
9176,629,0.381412,354,4395.250000,0,36719,84,0,27
12504,571,0.154175,712,11542.583333,0,21097,84,0,19
18499,620,0.161845,455,4359.000000,2,29182,24,1,37
8593,637,0.348931,351,6121.166667,0,50463,108,1,29
6613,640,0.543160,1353,13236.416667,0,10481,36,0,18
...,...,...,...,...,...,...,...,...,...
6745,537,0.325791,418,3434.416667,0,13482,96,0,15
19527,627,0.350269,324,5220.166667,0,19144,60,0,37
9526,557,0.147465,442,3336.333333,0,21538,24,0,30
9771,558,0.288815,1227,4097.166667,0,14227,48,0,26
10967,574,0.523959,312,4216.916667,0,8255,96,0,25

In [18]:
X_test

,CreditScore,DebtToIncomeRatio,MonthlyDebtPayments,MonthlyIncome,EmploymentStatus,LoanAmount,LoanDuration,PreviousLoanDefaults,PaymentHistory
14708,610,0.584534,402,2726.000000,0,31198,48,0,26
14706,530,0.355262,520,1274.583333,0,21739,48,0,22
15628,594,0.215415,470,1250.000000,0,15430,96,0,23
16510,594,0.671470,880,1756.416667,0,10153,12,0,33
18155,575,0.354125,450,2404.083333,0,8526,48,1,21
...,...,...,...,...,...,...,...,...,...
18340,552,0.214722,1212,2011.833333,0,36578,72,0,24
10066,587,0.370070,372,2328.083333,0,62249,24,0,19
2577,513,0.445461,143,6091.333333,0,16142,60,0,17
8821,543,0.695542,461,2337.500000,0,20844,72,1,32
8469,467,0.313530,601,6274.416667,0,28157,36,0,22

In [19]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
X_train.columns

Index(['CreditScore', 'DebtToIncomeRatio', 'MonthlyDebtPayments',
       'MonthlyIncome', 'EmploymentStatus', 'LoanAmount', 'LoanDuration',
       'PreviousLoanDefaults', 'PaymentHistory'],
      dtype='object')

In [22]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [23]:
X_train_scaled.shape

(14000, 9)

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [25]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [26]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [27]:

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),  
    tf.keras.layers.Dense(32, activation='relu'),  
    tf.keras.layers.Dense(1)  
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error', 'mean_squared_error']) # Regresyon iÃ§in MSE kullanÄ±lÄ±r
history = model.fit(X_train_scaled, y_train, epochs=40, batch_size=32, validation_data=(X_test_scaled, y_test))


test_loss = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {test_loss}")

Epoch 1/40
438/438 [==============================] - 1s 1ms/step - loss: 756.8400 - mean_absolute_error: 20.5323 - mean_squared_error: 756.8400 - val_loss: 80.9135 - val_mean_absolute_error: 6.9280 - val_mean_squared_error: 80.9135
Epoch 2/40
438/438 [==============================] - 1s 1ms/step - loss: 66.8632 - mean_absolute_error: 6.2668 - mean_squared_error: 66.8632 - val_loss: 54.6208 - val_mean_absolute_error: 5.6381 - val_mean_squared_error: 54.6208
Epoch 3/40
438/438 [==============================] - 1s 1ms/step - loss: 47.3475 - mean_absolute_error: 5.2284 - mean_squared_error: 47.3475 - val_loss: 41.1597 - val_mean_absolute_error: 4.8305 - val_mean_squared_error: 41.1597
Epoch 4/40
438/438 [==============================] - 1s 1ms/step - loss: 38.0602 - mean_absolute_error: 4.6578 - mean_squared_error: 38.0602 - val_loss: 35.0619 - val_mean_absolute_error: 4.4313 - val_mean_squared_error: 35.0619
Epoch 5/40
438/438 [==============================] - 1s 1ms/step - loss: 33.7305 - mean_absolute_error: 4.3682 - mean_squared_error: 33.7305 - val_loss: 31.9034 - val_mean_absolute_error: 4.1967 - val_mean_squared_error: 31.9034
Epoch 6/40
438/438 [==============================] - 1s 1ms/step - loss: 31.7141 - mean_absolute_error: 4.2140 - mean_squared_error: 31.7141 - val_loss: 30.6928 - val_mean_absolute_error: 4.0954 - val_mean_squared_error: 30.6928
Epoch 7/40
438/438 [==============================] - 1s 1ms/step - loss: 30.5439 - mean_absolute_error: 4.1225 - mean_squared_error: 30.5439 - val_loss: 30.3286 - val_mean_absolute_error: 4.0995 - val_mean_squared_error: 30.3286
Epoch 8/40
438/438 [==============================] - 1s 1ms/step - loss: 29.8925 - mean_absolute_error: 4.0645 - mean_squared_error: 29.8925 - val_loss: 29.8733 - val_mean_absolute_error: 4.0578 - val_mean_squared_error: 29.8733
Epoch 9/40
438/438 [==============================] - 1s 1ms/step - loss: 29.4240 - mean_absolute_error: 4.0153 - mean_squared_error: 29.4240 - val_loss: 28.4009 - val_mean_absolute_error: 3.8856 - val_mean_squared_error: 28.4009
Epoch 10/40
438/438 [==============================] - 0s 1ms/step - loss: 28.8143 - mean_absolute_error: 3.9334 - mean_squared_error: 28.8143 - val_loss: 28.2919 - val_mean_absolute_error: 3.8908 - val_mean_squared_error: 28.2919
Epoch 11/40
438/438 [==============================] - 1s 1ms/step - loss: 28.4779 - mean_absolute_error: 3.8943 - mean_squared_error: 28.4779 - val_loss: 28.8357 - val_mean_absolute_error: 3.9328 - val_mean_squared_error: 28.8357
Epoch 12/40
438/438 [==============================] - 1s 1ms/step - loss: 28.1314 - mean_absolute_error: 3.8486 - mean_squared_error: 28.1314 - val_loss: 27.9949 - val_mean_absolute_error: 3.8232 - val_mean_squared_error: 27.9949
Epoch 13/40
438/438 [==============================] - 1s 1ms/step - loss: 27.9423 - mean_absolute_error: 3.8191 - mean_squared_error: 27.9423 - val_loss: 27.5778 - val_mean_absolute_error: 3.7999 - val_mean_squared_error: 27.5778
Epoch 14/40
438/438 [==============================] - 1s 1ms/step - loss: 27.7366 - mean_absolute_error: 3.7814 - mean_squared_error: 27.7366 - val_loss: 27.0974 - val_mean_absolute_error: 3.7219 - val_mean_squared_error: 27.0974
Epoch 15/40
438/438 [==============================] - 1s 1ms/step - loss: 27.6497 - mean_absolute_error: 3.7728 - mean_squared_error: 27.6497 - val_loss: 27.2222 - val_mean_absolute_error: 3.7177 - val_mean_squared_error: 27.2222
Epoch 16/40
438/438 [==============================] - 1s 1ms/step - loss: 27.5525 - mean_absolute_error: 3.7587 - mean_squared_error: 27.5525 - val_loss: 27.1512 - val_mean_absolute_error: 3.7237 - val_mean_squared_error: 27.1512
Epoch 17/40
438/438 [==============================] - 0s 1ms/step - loss: 27.3502 - mean_absolute_error: 3.7328 - mean_squared_error: 27.3502 - val_loss: 27.2929 - val_mean_absolute_error: 3.7623 - val_mean_squared_error: 27.2929
Epoch 18/40
438/438 [==============================] - 0s 1ms/step - loss: 27.3289 - mean_absolute_error: 3.7245 - mean_squared_error: 27.3289 - val_loss: 27.0222 - val_mean_absolute_error: 3.6872 - val_mean_squared_error: 27.0222
Epoch 19/40
438/438 [==============================] - 0s 1ms/step - loss: 27.2891 - mean_absolute_error: 3.7163 - mean_squared_error: 27.2891 - val_loss: 26.8960 - val_mean_absolute_error: 3.6795 - val_mean_squared_error: 26.8960
Epoch 20/40
438/438 [==============================] - 1s 1ms/step - loss: 27.2504 - mean_absolute_error: 3.7181 - mean_squared_error: 27.2504 - val_loss: 28.1162 - val_mean_absolute_error: 3.8144 - val_mean_squared_error: 28.1162
Epoch 21/40
438/438 [==============================] - 0s 1ms/step - loss: 27.2711 - mean_absolute_error: 3.7120 - mean_squared_error: 27.2711 - val_loss: 27.1344 - val_mean_absolute_error: 3.6950 - val_mean_squared_error: 27.1344
Epoch 22/40
438/438 [==============================] - 1s 1ms/step - loss: 27.1926 - mean_absolute_error: 3.7119 - mean_squared_error: 27.1926 - val_loss: 26.8066 - val_mean_absolute_error: 3.6666 - val_mean_squared_error: 26.8066
Epoch 23/40
438/438 [==============================] - 0s 1ms/step - loss: 27.1009 - mean_absolute_error: 3.7070 - mean_squared_error: 27.1009 - val_loss: 27.4054 - val_mean_absolute_error: 3.7613 - val_mean_squared_error: 27.4054
Epoch 24/40
438/438 [==============================] - 1s 1ms/step - loss: 27.0577 - mean_absolute_error: 3.7049 - mean_squared_error: 27.0577 - val_loss: 26.6392 - val_mean_absolute_error: 3.6545 - val_mean_squared_error: 26.6392
Epoch 25/40
438/438 [==============================] - 1s 1ms/step - loss: 27.0615 - mean_absolute_error: 3.6859 - mean_squared_error: 27.0615 - val_loss: 27.0295 - val_mean_absolute_error: 3.6731 - val_mean_squared_error: 27.0295
Epoch 26/40
438/438 [==============================] - 1s 1ms/step - loss: 27.0176 - mean_absolute_error: 3.6878 - mean_squared_error: 27.0176 - val_loss: 27.0199 - val_mean_absolute_error: 3.6882 - val_mean_squared_error: 27.0199
Epoch 27/40
438/438 [==============================] - 1s 1ms/step - loss: 26.9845 - mean_absolute_error: 3.6844 - mean_squared_error: 26.9845 - val_loss: 26.8465 - val_mean_absolute_error: 3.6532 - val_mean_squared_error: 26.8465
Epoch 28/40
438/438 [==============================] - 1s 1ms/step - loss: 27.0401 - mean_absolute_error: 3.6856 - mean_squared_error: 27.0401 - val_loss: 26.7743 - val_mean_absolute_error: 3.6805 - val_mean_squared_error: 26.7743
Epoch 29/40
438/438 [==============================] - 0s 1ms/step - loss: 27.0466 - mean_absolute_error: 3.6955 - mean_squared_error: 27.0466 - val_loss: 27.2056 - val_mean_absolute_error: 3.7408 - val_mean_squared_error: 27.2056
Epoch 30/40
438/438 [==============================] - 1s 1ms/step - loss: 27.0166 - mean_absolute_error: 3.6874 - mean_squared_error: 27.0166 - val_loss: 26.8704 - val_mean_absolute_error: 3.6649 - val_mean_squared_error: 26.8704
Epoch 31/40
438/438 [==============================] - 0s 1ms/step - loss: 26.9185 - mean_absolute_error: 3.6737 - mean_squared_error: 26.9185 - val_loss: 26.7574 - val_mean_absolute_error: 3.6570 - val_mean_squared_error: 26.7574
Epoch 32/40
438/438 [==============================] - 1s 1ms/step - loss: 26.8458 - mean_absolute_error: 3.6737 - mean_squared_error: 26.8458 - val_loss: 26.7699 - val_mean_absolute_error: 3.6655 - val_mean_squared_error: 26.7699
Epoch 33/40
438/438 [==============================] - 1s 1ms/step - loss: 26.8923 - mean_absolute_error: 3.6763 - mean_squared_error: 26.8923 - val_loss: 27.0961 - val_mean_absolute_error: 3.7047 - val_mean_squared_error: 27.0961
Epoch 34/40
438/438 [==============================] - 1s 1ms/step - loss: 26.9413 - mean_absolute_error: 3.6806 - mean_squared_error: 26.9413 - val_loss: 26.8467 - val_mean_absolute_error: 3.6489 - val_mean_squared_error: 26.8467
Epoch 35/40
438/438 [==============================] - 1s 1ms/step - loss: 26.8565 - mean_absolute_error: 3.6715 - mean_squared_error: 26.8565 - val_loss: 28.1212 - val_mean_absolute_error: 3.8446 - val_mean_squared_error: 28.1212
Epoch 36/40
438/438 [==============================] - 1s 1ms/step - loss: 26.8487 - mean_absolute_error: 3.6766 - mean_squared_error: 26.8487 - val_loss: 27.0304 - val_mean_absolute_error: 3.6731 - val_mean_squared_error: 27.0304
Epoch 37/40
438/438 [==============================] - 0s 1ms/step - loss: 26.8540 - mean_absolute_error: 3.6762 - mean_squared_error: 26.8540 - val_loss: 27.1307 - val_mean_absolute_error: 3.6869 - val_mean_squared_error: 27.1307
Epoch 38/40
438/438 [==============================] - 0s 1ms/step - loss: 26.7939 - mean_absolute_error: 3.6651 - mean_squared_error: 26.7939 - val_loss: 28.2017 - val_mean_absolute_error: 3.8114 - val_mean_squared_error: 28.2017
Epoch 39/40
438/438 [==============================] - 0s 1ms/step - loss: 26.7894 - mean_absolute_error: 3.6656 - mean_squared_error: 26.7894 - val_loss: 27.2282 - val_mean_absolute_error: 3.7065 - val_mean_squared_error: 27.2282
Epoch 40/40
438/438 [==============================] - 1s 1ms/step - loss: 26.7771 - mean_absolute_error: 3.6652 - mean_squared_error: 26.7771 - val_loss: 27.7872 - val_mean_absolute_error: 3.7686 - val_mean_squared_error: 27.7872
188/188 [==============================] - 0s 768us/step - loss: 27.7872 - mean_absolute_error: 3.7686 - mean_squared_error: 27.7872
Test Loss: [27.787246704101562, 3.768592357635498, 27.787246704101562]

In [28]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import math

# Tahminlerinizi ve gerÃ§ek veriyi alarak performansÄ± Ã¶lÃ§me
y_pred = model.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)

print(f"MSE: {mse}")
print(f"RMSE: {rmse}")
print(f"MAE: {mae}")

188/188 [==============================] - 0s 894us/step
MSE: 27.787245391177052
RMSE: 5.271360867098462
MAE: 3.768593334960937

In [29]:
# Yeni verilerle tahmin yapma
y_pred = model.predict(X_test_scaled)

# SonuÃ§larÄ± karÅŸÄ±laÅŸtÄ±rmak iÃ§in gerÃ§ek ve tahmin edilen deÄŸerler
comparison = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred.flatten()})
print(comparison.head())

188/188 [==============================] - 0s 691us/step
       Actual  Predicted
14708    55.0  56.529198
14706    53.0  55.182537
15628    52.0  50.162582
16510    61.0  59.628929
18155    62.0  59.348198

In [30]:
model.save('model_kredi_riks_yeni_model.h5')

In [31]:
## Load Tensorboard Extension
%load_ext tensorboard

In [32]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 37140), started 2:26:58 ago. (Use '!kill 37140' to kill it.)